<div class="top-row ps-3 navbar navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href=""><img src="FlUnit-32.png" alt="FlUnit icon" /> FlUnit</a>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
  <nav class="flex-column">
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
      </NavLink>
    </div>
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="user-guide/getting-started.md">
        <span class="bi bi-info-circle" aria-hidden="true"></span> Getting Started
      </NavLink>
    </div>
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="user-guide/useful-patterns.md">
        <span class="bi bi-info-circle" aria-hidden="true"></span> Useful Patterns
      </NavLink>
    </div>
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="user-guide/advanced-functionality.md">
        <span class="bi bi-info-circle" aria-hidden="true"></span> Advanced Functionality
      </NavLink>
    </div>
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="user-guide/other-notes.md">
        <span class="bi bi-info-circle" aria-hidden="true"></span> Other Notes
      </NavLink>
    </div>
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="roadmap.md">
        <span class="bi bi-signpost-split-fill" aria-hidden="true"></span> Roadmap
      </NavLink>
    </div>
  </nav>
</div>

@code {
  private bool collapseNavMenu = true;

  private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

  private void ToggleNavMenu()
  {
    collapseNavMenu = !collapseNavMenu;
  }
}
